* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  /* background: rgb(34, 34, 34); */
  background: #2e3755;
}
h1 {
  color: white;
}
.frag {
  /* background: turquoise; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.app {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex: 2;

  /* flex-wrap: wrap; */
}
.app__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.app__stats {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* width: 30vw; */
}
.app__stats__box h3 {
  color: white;
  margin-bottom: 10px;
}
.app__stats__box:not(:last-of-type) {
  margin-right: 20px;
}
.app__left {
  flex: 0.9;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

.select {
  background-color: white !important;
  border: 1px solid white !important;
  display: flex !important;
  align-items: center !important;
}
