* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  /* background: rgb(34, 34, 34); */
  background: #2e3755;
}
h1 {
  color: white;
}
.frag {
  /* background: turquoise; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* .side {
  height: 100%;
  width: 60px;
  background-color: aquamarine;
  position: absolute;
  left: 0;
  top: 0;
} */
.app {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex: 2;
  width: 100%;
  /* flex-wrap: wrap; */
}
.app__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.app__stats {
  display: flex;
  flex-wrap: wrap;
  min-height: auto;
  /* justify-content: space-between; */
  /* width: 30vw; */
}
.app__stats__box h3 {
  color: white;
  margin-bottom: 10px;
}
.app__stats__box:not(:last-of-type) {
  margin-right: 20px;
}
.app__left {
  flex: 0.9;
  min-width: 45vw;
}
.app__right {
  min-width: 35vw;
}
.app__right > div {
  background: #364060;
  width: 40%;
  height: auto;
}
@media (max-width: 1200px) {
  .app {
    flex-direction: column;
  }
  .app__right > div {
    width: 100%;
  }
}
.app__dropdown {
  color: white;
  scroll-behavior: smooth;
  cursor: pointer;
  width: 100%;
  margin-left: 50px;
}
.select {
  background-color: transparent;
  border: 1px solid #14c0ff;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  color: #14c0ff;
  scroll-behavior: smooth;
  cursor: pointer;
  width: 100%;
  outline: none;
}
.select option {
  background: #2e3755;
  scroll-behavior: smooth;
  cursor: pointer;
}
.select option:hover {
  background: #445175;
  cursor: pointer;
}
