footer {
  width: 100%;
  /* background: red; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}
