header {
  width: 100%;
  /* background: red; */
  /* margin-top: 10px; */
  position: fixed;
  top: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  font-size: 18px;
  background: #14c0ff;
  border-bottom: 2px solid #14c0ff;
  z-index: 10;
}
header h2 {
  padding: 15px;
  font-size: 1.2rem;
}
@media (max-width: 1200px) {
  header {
    padding: 0 20px;
  }
}
