.infoBox {
  cursor: pointer;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  padding: 8px 8px 0;
  /* width: 230px; */
  width: 70px;
  height: 70px;
  /* background: #445175; */
}
.infoCard {
  display: flex;
}
.infoBox--top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.infoBox__cases {
  font-size: 35px;
}
.infoBox__total__H {
  font-size: 30px;
}
.icons {
  font-size: 24px;
  /* margin-right: 20px; */
  /* margin-bottom: 20px; */
}
.black {
  color: white;
}
.red {
  color: white;
}
.green {
  color: white;
}
h3 {
  font-size: 26px;
}
.box--selected {
  border-bottom: 2px solid rgb(72, 167, 255);
}
.data {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
