.infoBox {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 8px 0;
  background: #445175 !important;
}
.infoBox--top {
  display: flex;
  align-items: center;
}
.icons {
  font-size: 24px;
  margin-right: 20px;
}
.black {
  color: white;
}
.red {
  color: white;
}
.green {
  color: white;
}
h3 {
  font-size: 26px;
}
