.table {
  margin-top: 20px;
  overflow-y: scroll;

  height: 450px;
  color: white;
  background-color: #364060;
}
.table tr {
  background-color: #364060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  border-radius: 50px 0 0 50px;
}
td img {
  object-fit: cover;
  object-position: center;
  border: 2px solid #14c0ff;
}
.table__country {
  display: flex;
  align-items: center;
}
tr {
  cursor: pointer;
}
td {
  padding: 1rem;
}
.table tr:nth-of-type(odd) {
  /* background-color: rgb(247, 247, 247); */
  background-color: #445175;
}
